.detail-component {
    position: absolute;
    top: 120px;
}

.detail-container {
    margin: auto 355px;

    & p,
    li {
        color: var(--color-dark-gray);
    }
}

.job-detail-header {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 5px;
    overflow: hidden;
    margin-bottom: 32px;
}

body.dark .job-detail-header {
    background-color: var(--color-very-dark-blue);
}

.job-detail-header-left {
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 70%;
    }
}

.job-detail-header-right {
    width: calc(100% - 140px);
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h2 {
        padding-bottom: 7px;
    }

    & .company-site {
        padding: 0 20px;
    }
}

.job-detail-content {
    /* margin: 130px 0 80px; */
    padding: 48px;
    background-color: var(--color-white);
    border-radius: 5px;

    & .description,
    h3,
    .requirements-content,
    .requirements-items,
    .role-content,
    .role-items {
        padding-top: 35px;
    }

    & ul {
        list-style: disc;
        padding-inline-start: 20px;

        & li {
            padding-inline-start: 15px;
        }
    }

    & ol {
        list-style: decimal;
        padding-inline-start: 15px;

        & li {
            padding-inline-start: 20px;
        }

        & li::marker {
            font-weight: bold;
        }
    }

    & li::marker {
        color: var(--color-violet);
    }
}

body.dark .job-detail-content {
    background-color: var(--color-very-dark-blue);
}

.apply-now {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & button {
        padding: 0 28px;
    }
}

/* footer{
    position: fixed;
    bottom: 0;
} */

.detail-footer {
    width: 100%;
    height: 96px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    margin-top: 80px;
}

body.dark .detail-footer {
    background-color: var(--color-very-dark-blue);
}

.job-position-company {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 1439px) {
    .detail-container {
        margin: auto 39px;
    }
}

@media (max-width: 767px) {

    .detail-container {
        margin: auto 24px;
    }

    .job-detail-header {
        flex-direction: column;
        border-radius: 10px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 24px;
    }

    .job-detail-header-left {
        position: absolute;
        top: -5px;
        width: auto;
        height: auto;
        background-color: transparent !important;

        & img {
            width: 100%;
        }
    }

    .job-detail-header-right {
        flex-direction: column;
        margin: 50px 0 32px 0;
        width: 100%;

        & .company-name-address {
            text-align: center;

            & h2 {
                font-size: 20px;
                line-height: 25px;
            }
        }

        & button {
            margin-top: 24px;
        }
    }

    .job-detail-content {
        padding: 40px 24px;
    }

    .apply-now {
        flex-direction: column;
        align-items: flex-start;

        & h2 {
            font-size: 20px;
        }

        & button {
            margin-top: 54px;
            width: 100%;
        }
    }

    .footer-apply {
        & .job-position-company {
            display: none;
        }

        & button {
            margin: 0;
        }
    }

}